//////////////////////////////////////////
//Include color related vars and functions
//////////////////////////////////////////

$nvestly-white: #ffffff;

$nvestly-grey-1: #f8f8f8;
$nvestly-grey-2: #888888;
$nvestly-grey-3: #dfdfdf;

$nvestly-blue-1: #00bbe4;