/* line 3, ../sass/newsfeed.scss */
body { font-size: 16px; }

/* line 6, ../sass/newsfeed.scss */
.feeds { background: #f8f8f8; }

/* line 1, ../sass/partials/_feed.scss */
.feed { display: block; }
/* line 3, ../sass/partials/_feed.scss */
.feed .profile, .feed .post, .feed .commented-msg, .feed .comment-form { display: inline-block; padding: 10px; vertical-align: top; }
/* line 8, ../sass/partials/_feed.scss */
.feed .profile { width: 50px; margin: 0 15px; }
/* line 13, ../sass/partials/_feed.scss */
.feed .post p { margin: 0 0 0.875em 0; }
/* line 15, ../sass/partials/_feed.scss */
.feed .post p .user { font-weight: bold; text-transform: capitalize; }
/* line 19, ../sass/partials/_feed.scss */
.feed .post p .user.postedon:before { display: inline-block; content: ""; width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #888888; margin: 0 10px 0 5px; }
/* line 32, ../sass/partials/_feed.scss */
.feed .post a { color: #00bbe4; text-decoration: none; }
/* line 35, ../sass/partials/_feed.scss */
.feed .post a.rally-link { font-size: 0.75em; margin-bottom: 1em; display: block; }
/* line 41, ../sass/partials/_feed.scss */
.feed .post .post-feedback { border: 1px solid #dfdfdf; background: white; }
/* line 44, ../sass/partials/_feed.scss */
.feed .post .post-feedback .rally, .feed .post .post-feedback .comments { padding: 0.875em; }
/* line 47, ../sass/partials/_feed.scss */
.feed .post .post-feedback .rally { border-bottom: 1px solid #dfdfdf; }
/* line 51, ../sass/partials/_feed.scss */
.feed .post .post-feedback .comments ul { list-style: none; margin: 0; padding: 0; }

/* line 10, ../sass/newsfeed.scss */
#loadmoreajaxloader { display: none; background: url("/images/ajax-loader.gif") no-repeat center center; height: 32px; }
