//Modules and variables
@import "modules/all";
body {
	font-size: 16px;
}
.feeds {
	background: $nvestly-grey-1;
}
@import "partials/feed";
#loadmoreajaxloader {
  display: none;
  background: url('/images/ajax-loader.gif') no-repeat center center;
  height: 32px;
}